.jumbotron {
  background-image: url(../img/fiji-island.jpg);
  background-size: cover;
  background-position: 15% 70%;
  background-repeat: no-repeat;
  color: white;
  text-shadow: rgba(72, 70, 70, 0.8) 0px 0px 12px;
}
.footer {
  background-color: rgba(219, 219, 219, 0.3);
}
#footer-text {
  text-align: center;
}
#vacation-type {
  width: 40%;
}
#zone, #activities, #self {
  width: 30%;
}
#food {
  width: 20%;
}
#match {
  display: none;
}
