.jumbotron {
  background-image: url(../img/fiji-island.jpg);
  background-size: cover;
  background-position: 15% 70%;
  background-repeat: no-repeat;
  color: white;
  text-shadow: rgba(72, 70, 70, 0.8) 0px 0px 12px;
}
